@charset "UTF-8";
#select_approute {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  z-index: 50000;
  width: 850px;
  min-height: 500px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -425px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px #999;
  -webkit-box-shadow: 0px 0px 10px #999;
  box-shadow: 0px 0px 10px #999; 
  display: none; }
  #select_approute * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none; }
  #select_approute div.s_close {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: #ddd; }
    #select_approute div.s_close:hover {
      background-color: #F60; }
    #select_approute .s_close p {
      position: absolute;
      background: #fff;
      width: 30px;
      height: 4px;
      border-radius: 10px;
      margin-left: 8px;
      margin-top: 21px; }
    #select_approute .s_close p[pleft] {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -moz-transform: rotate(45deg);
      /* Firefox */
      -webkit-transform: rotate(45deg);
      /* Safari 和 Chrome */
      -o-transform: rotate(45deg);
      /* Opera */ }
    #select_approute .s_close p[pright] {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      /* IE 9 */
      -moz-transform: rotate(-45deg);
      /* Firefox */
      -webkit-transform: rotate(-45deg);
      /* Safari 和 Chrome */
      -o-transform: rotate(-45deg);
      /* Opera */ }
  #select_approute .s_title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #666; }
  #select_approute .s_route {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 30px; }
    #select_approute .s_route .s_route_list {
      width: 100%;
      height: 270px;
      border: 1px solid #eee;
      overflow-y: auto;
      padding: 15px;
      background-color: #eee;
    }
      #select_approute .s_route .s_route_list::-webkit-scrollbar {
        background-color: transparent;
        width: 2px; }
      #select_approute .s_route .s_route_list::-webkit-scrollbar-thumb {
        background: darkgray; }
      #select_approute .s_route .s_route_list ul li.route-item {
        float: left;
        width: auto;
        padding: 3px 5px;
        background-color: #fff;
        font-size: 14px;
        color: #333;
        cursor: pointer;
        margin: 3px 5px;
        border-radius: 2px;
      }

        #select_approute .s_route .s_route_list ul li:hover {
        background-color: #33affc;
        color: #fff}
        #select_approute .s_route .s_route_list ul li.s_select {

          background-color: #33affc;
          color: #fff}/*
          #select_approute .s_route .s_route_list ul li.s_select:before {
            position: relative;
            display: block;
            content: "";
            margin-left: -18px;
            margin-top: -16px;
            width: 16px;
            height: 16px;
            background-image: url(icon-close.png);
            background-size: cover; }*/
#select_approute .group-wrap{
  clear: both;
  margin-bottom: 8px;
  float: left;
}
#select_approute .group-wrap ul{
  float: left;
  width: 586px;
}
#select_approute .group-title{
  float: left;
  color:#33affc;
  width: 50px;
}
  #select_approute .s_param {
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 10px 30px;
    margin-bottom: 20px;
  float: left;}
    #select_approute .s_param ul {
      width: 100%;
      height: auto;
      border: 1px solid #eee;
      background-color: #eee;
      padding: 10px;
      float: left;
      color: #333; }
#select_approute .s_param ul li{
  float: left;
  width: 98%;
}
      #select_approute .s_param ul li.route-item {
        width: 100%;
        float: left;
        overflow: hidden;
        margin: 5px 0; }
        #select_approute .s_param ul li p {
          float: left;
          width: 100px;
          height: 35px;
          line-height: 35px;
          padding-left: 10px;
          margin-bottom: 0px;
          margin-top: 0px;
          text-align: right;
        }
        #select_approute .s_param ul li input {
          width: 350px;
          height: 35px;
          float: left;
          margin-left: 5px;
          font-size: 18px;
          color: #333;
          text-indent: 5px; }
  #select_approute .s_button {
  text-align: center;
  }
#select_approute .s_button button{

  margin: 0 5px;
}


