@charset "utf-8";
body{font-family:Arial,"宋体";background:#ffffff;font-size:12px;height: 100%;
background-size: cover;}
body,div{font-size:12px; padding:0; margin:0; vertical-align:top;}
li{list-style-type:none;}
table{margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
a{color:#000;text-decoration:none;}
a:hover{color:#C00; text-decoration:underline;}
#login-box{margin:118px auto 0 auto; width:700px; height:337px; background:url(../Images/login.gif) no-repeat; position:relative;}

#resultMsg{
text-align: center;font-size: 18px;}


#login-region .ui.input.large input {
padding: 12px 1em;
}

#login-region .header {
color: #555;
text-align: center;
font-size: 30px;
font-weight: normal;
	margin-top: 5px;
	margin-bottom: 20px;
}
#login-region form {
width: 350px;
margin: 0 auto;


}
.ui.form {
position: relative;
max-width: 100%;
}
#login-region .footer {
margin-top: 10px;
text-decoration: none;
text-align: center;
}
.ui.form .field {
clear: both;
margin: 0 0 1em;
}
.ui.form :first-child {
margin-top: 0;
}
.ui.form .ui.input, .ui.form input[type=date], .ui.form input[type=email], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=url], .ui.form textarea {
width: 100%;
}
.ui.large.input {
font-size: 1.125em;
}
.ui.form :last-child {
margin-bottom: 0;
}
.ui.form :first-child {
margin-top: 0;
}
.ui.input {
font-size: 1em;
}
.ui.input {
display: inline-block;
position: relative;
color: rgba(0,0,0,.7);
}
.ui.form input[type=date], .ui.form input[type=email], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=url], .ui.form textarea {
margin: 0;
padding: .65em 1em;
font-size: 1em;
background-color: #FFF;
border: 1px solid rgba(0,0,0,.15);
outline: 0;
color: rgba(0,0,0,.7);
border-radius: .3125em;
-webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
-moz-transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
-webkit-box-shadow: 0 0 rgba(0,0,0,.3)inset;
box-shadow: 0 0 rgba(0,0,0,.3)inset;
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(255,255,255,0);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.ui.form .ui.input, .ui.form input[type=date], .ui.form input[type=email], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=url], .ui.form textarea {
width: 100%;
}
.ui.form :first-child {
margin-top: 0;
}
.ui.input input {
width: 100%;
font-family: "Helvetica Neue",Helvetica,Arial;
margin: 0;
padding: .65em 1em;
font-size: 1em;
background-color: #FFF;
border: 1px solid rgba(0,0,0,.15);
outline: 0;
color: rgba(0,0,0,.7);
border-radius: .3125em;
-webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
-moz-transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
-webkit-tap-highlight-color: rgba(255,255,255,0);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
body, input, textarea {
font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
-webkit-font-smoothing: antialiased;
}
#login-region .button {
width: 100%;
margin-top: 20px;
}
#login-region input {
opacity: 0.9;
}
.coding .ui.button.dark.gray:hover, .coding.ui.button.dark.gray:hover {
background-color: #242424!important;
}
.coding .ui.button.dark.gray:hover, .coding.ui.button.dark.gray:hover {
background-color: #242424!important;
}
.coding .ui.button.dark.gray, .coding.ui.button.dark.gray {
color: #fff!important;
background-color: #333!important;
}
.coding .ui.button.dark.gray, .coding.ui.button.dark.gray {
color: #fff!important;
background-color: #333!important;
}
.coding .ui.button.gray:hover, .coding.ui.button.gray:hover {
background-color: #575757!important;
}
.coding .ui.button.gray:hover, .coding.ui.button.gray:hover {
background-color: #575757!important;
}
.coding .ui.button.large, .coding.ui.button.large {
font-size: 24px;
height: 48px;
line-height: 48px;
}
.coding .ui.button.large, .coding.ui.button.large {
font-size: 24px;
height: 48px;
line-height: 48px;
}
.coding .ui.button.gray, .coding.ui.button.gray {
color: #fff!important;
background-color: #666!important;
}
.coding .ui.button.gray, .coding.ui.button.gray {
color: #fff!important;
background-color: #666!important;
}
.coding .ui.button:hover, .coding.ui.button:hover {
background-color: #fdfdfd!important;
}
.coding .ui.button:hover, .coding.ui.button:hover {
background-color: #fdfdfd!important;
}
.coding .ui.button, .coding.ui.button {
font-size: 14px;
padding: 0 1.5em;
text-transform: none;
line-height: 30px;
height: 30px;
color: #000!important;
background-image: none;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
-ms-border-radius: 2em;
-o-border-radius: 2em;
border-radius: 2em;
background-color: #fff!important;
}
.coding .ui.button, .coding.ui.button {
font-size: 14px;
padding: 0 1.5em;
text-transform: none;
line-height: 30px;
height: 30px;
color: #000!important;
background-image: none;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
-ms-border-radius: 2em;
-o-border-radius: 2em;
border-radius: 2em;
background-color: #fff!important;
}
.ui.large.button, .ui.large.buttons .button, .ui.large.buttons .or {
font-size: 1.125rem;
}
.ui.button:hover {
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.08)));
background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
color: rgba(0,0,0,.7);
}
.ui.form :last-child {
margin-bottom: 0;
}
.ui.form :first-child {
margin-top: 0;
}
.ui.button, .ui.buttons .button {
font-size: 1rem;
}
.ui.button {
cursor: pointer;
display: inline-block;
vertical-align: middle;
min-height: 1em;
outline: 0;
border: none;
background-color: #FAFAFA;
color: gray;
margin: 0;
padding: .8em 1.5em;
text-transform: uppercase;
line-height: 1;
font-weight: 700;
font-style: normal;
text-align: center;
text-decoration: none;
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
border-radius: .25em;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08)inset;
box-shadow: 0 0 0 1px rgba(0,0,0,.08)inset;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
-moz-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
}
body, input, textarea {
font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
-webkit-font-smoothing: antialiased;
}
#login-region{
	margin-top: -200px;
	width: 380px;
	padding: 20px 50px 50px 50px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
	position: absolute;
	left: 50%;
	margin-left: -240px;
	top: 50%;
}
#verify{margin-bottom: 10px;width: 95px;
height: 62px;}
#verifyImg{border-radius: 4px;}