#add_return_div {
    width: 100%;
    height: 1174px;
    position: relative;
}
#add_return_bg_div{
    width: 100%;
    height: 1174px;
    background-color: grey;
    position: absolute;
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
#add_return_content_div{
    width: 90%;
    height: 80%;
    background-color: white;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#add_return_close_div{
    height: 50px;
    font-size: 20px;
    text-align: right;
    padding: 10px;
}
#add_return_close_div span{
    cursor: pointer;
}
#add_return_content {
    width: 100%;
    height: 100%;
}
#add_return_iframe {
    width: 100%;
    height: 100%;
}
.wrap-table{
    height: 200px;
    overflow: auto;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.wrap-table th{
    padding: 12px 8px;
    text-align: left;
}
.wrap-table td{
    padding: 12px 8px;
    text-align: left;
}